.typewriter .cursor {
  display: inline-block;
  background-color: #ecb176;
  width: 2px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
