:root {
  --primary: #ecb176;
}

.awal__div__body {
  padding: 1.5rem 7%;
  height: 100vh;
}

.awal__div__body__full {
  display: flex;
  justify-content: space-between;
}
.awal {
  margin-top: 12rem;
  font-family: "popins", sans-serif;
  font-size: 2rem;
}

.awal__span {
  font-style: italic;
  color: #ecb176;
  overflow: hidden;
  border-right: 0.15em solid #ecb176;
  animation: berjalan 5s steps(18, end), berkedip 0.5s ease infinite;
  white-space: nowrap;
}

/* animasi ketik */
@keyframes berjalan {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes berkedip {
  from{border-color: transparent;
  }
  50%{border-color: #ecb176;}
  to{border-color: transparent;}
}

.awal__p {
  margin-top: 1rem;
}

.awal__p__1 {
  margin-top: 1rem;
}

.awal__img {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 50%;
  height: auto;
  margin-left: 3rem;
  border-radius: 146px 114px 163px 87px;
  -webkit-border-radius: 146px 114px 163px 87px;
  -moz-border-radius: 146px 114px 163px 87px;
  background-color: #ecb176;
}

/* Buttom */

.awal__p__buttom {
  color: white;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  font-style: italic;
}

.bn5 {
  margin-left: 13rem;
  margin-top: 3rem;
  width: 40%;
  height: 50px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* mobile */

@media screen and (max-width: 768px) {
  .awal__div__body__full {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
  }
  .awal__img {
    width: 90%;
    margin: 1rem 0;
  }
  .awal {
    font-size: 4rem;
  }
  .awal__span {
    font-size: 2rem;
    font-style: italic;
    color: #ecb176;
  }
  .awal__p {
    color: white;
    font-size: 2rem;
  }
  .awal__p__1 {
    font-size: 2rem;
  }
  .awal__p__1__2 {
    color: var(--primary);
  }
}
