.blog {
  height: 85vh;
  display: flex;
  padding: 1.5rem 7%;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #543310;
}

.gambar {
  width: 80%;
  height: auto;
  border-radius: 146px 114px 163px 87px;
  background-color: #ECB176;
}

.intro {
  font-family: 'poppins', sans-serif;
  font-size: 2rem;
}

.perkenalan {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 0.1rem; 
  align-items: center; 
}

.perkenalan__diri {
  margin: 0; 
}

.perkenalan__diri__1 {
  margin: 0; 
}

@media screen and (max-width: 768px) {
  .blog {
    flex-direction: column; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: auto;
  }

  .gambar {
    width: 100%; 
    margin: 1rem 0; 

  .perkenalan {
    grid-template-columns: 1fr; 
    text-align: center; 
  }
}
}

