.skils {
  height: auto;
  margin-top: 5rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: center;
  padding: 1rem 7%;
}

.card {
  background-color: #ECB176;
  border-radius: 10px;
  padding: 1rem;
  justify-content: center;
  box-shadow: 1px 2px 5px #fff;
  flex: 1 1 calc(33.333% - 2rem); /* Adjust width to fit three cards per row */
  max-width: calc(33.333% - 2rem); /* Ensures max width for each card */
  margin: 1rem; /* Adds margin between cards */
}

.nextjs {
  width: 15rem;
  height: auto;
}

.card__text {
  font-family: 'poppins', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.card__text__nextjs {
  font-family: 'poppins', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(100% - 2rem); /* Full width on mobile */
    max-width: calc(100% - 2rem);
  }
  .images, .nextjs {
    width: 80%; 
    margin: 0 auto;
  }
}

.images, .nextjs {
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.card__text__nextjs {
  font-family: 'poppins', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}
